name: Quality Gate Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

permissions:
  pull-requests: write
  contents: read

jobs:
  quality-gate:
    uses: ./.github/workflows/ci-build-test.yml
